@media (max-width: 1439px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: url(../images/bg-mobile.svg) top center no-repeat var(--violet);
    width: 100%;
  }

  .header {
    width: 100%;
    margin: 0 0 6rem 1.9rem;
    display: flex;
    justify-content: flex-start;
  }

  .header .logo {
    width: 130px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  main .image-card {
    max-width: 100%;
    padding: 0 1.8rem;
  }

  main .info {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 4.8rem auto 0;
    padding: 10px;
  }

  main .info .heading {
    font: 2.3rem/3.9rem var(--heading);
    margin: 0 0 1rem;
    letter-spacing: 1px;
  }

  main .info p {
    font: 400 1.6rem/24px var(--body);
    text-align: center;
    margin: 0 0 2.5rem;
    padding: 0 0.5rem 0;
  }

  main .info .btn-register {
    font-size: 1.4rem;
    width: 200px;
  }

  .footer .social-media {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 18px 30px;
    gap: 10px;
  }

  .footer .social-media a i {
    font-size: 1.5rem;
  }
}
