body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--violet) url(../images/bg-desktop.svg) center center
    no-repeat;
  background-size: contain;
  max-width: 1440px;
  padding: 0 2rem;
}

/* =================== */

.header {
  margin: 2rem 0 2.6rem 0;
  padding: 0 2rem 0 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header .logo {
  width: 210px;
}

/* =================== */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  max-width: 100%;
  padding: 2.8rem 2rem 0 2rem;
}

/* =================== */

.product-presentation {
  display: grid;
  grid: "image content" / 740px 1fr;
  gap: 1.5rem;
}

.product-presentation .image-card {
  grid-area: image;
  max-width: 100%;
}

.product-presentation .info {
  grid-area: content;
  margin: 2.5rem 2rem 0 0;
}

.product-presentation .info .heading {
  font: 600 2.4rem/4rem var(--heading);
  margin: 0 5rem 0.8rem 0;
}

.product-presentation .info p {
  font: 400 1.2rem/1.5 var(--body);
  margin: 0 2rem 2rem 0;
  letter-spacing: -0.4px;
}

.product-presentation .info .btn-register {
  font: 400 1.2rem var(--body);
  background-color: #fff;
  color: var(--violet);
  border-radius: 25px;
  padding: 1rem 4rem;
  transition: 0.4s ease-in-out;
  box-shadow: 3px 5px 10px hsl(300, 58%, 25%);
}

@media (min-width: 1024px) {
  .product-presentation .info .btn-register:hover {
    background-color: var(--soft-magenta);
    box-shadow: 3px 5px 10px hsl(300, 61%, 20%);
    color: #ffffff;
  }
}

/* =================== */

.c-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 2rem 0 2rem;
}

.c-footer .social-media {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 18px;
  gap: 15px;
  margin-right: 3.5rem;
}

.c-footer .social-media a i {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 6px;
  gap: 2px;
  font-size: 1.4rem;
  transition: 0.4s ease-in-out;
}

@media (min-width: 1024px) {
  .c-footer .social-media a i:hover {
    color: var(--soft-magenta);
    border: 1px solid var(--soft-magenta);
  }
}

.c-footer .social-media a i.fab.fa-facebook-f::before,
.c-footer .social-media a i.fab.fa-instagram::before {
  padding: 4px;
}
